<root>
	<FileGroup Name="cw.application.js">
		<File Path="../../Scripts/cw.app.main.min.js" />
		<File Path="../../Scripts/cw.app.events.min.js" />
		<File Path="../../Scripts/cw.app.ajax.min.js" />
		<File Path="../../Scripts/cw.app.sound.min.js" />
		<File Path="../../Scripts/cw.app.upload.min.js" />
	</FileGroup>
	<FileGroup Name="cw.plugins.js">
		<File Path="../../Scripts/gears_init.js" />
		<File Path="../../Scripts/jquery-ui.min.js" Minify="false"/>
		<File Path="../../Scripts/jquery.form.js" />
		<File Path="../../Scripts/jquery.blockUI.js" />
		<File Path="../../Scripts/jquery.gritter.min.js" Minify="false" />
		<File Path="../../Scripts/soundmanager2-nodebug-jsmin.js" Minify="false" />
		<File Path="../../Scripts/plupload.full.min.js" Minify="false" />
		<File Path="../../Scripts/jquery.plupload.queue.min.js" Minify="false" />
	</FileGroup>
</root>