<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
    <appSettings>
        <add key="Sys_BaseUrl" value="http://72.37.129.142:8080" xdt:Transform="Replace" xdt:Locator="Match(key)" />
        <add key="Sys_AssetPathFull" value="D:\\SongSearch2.0\\Assets\\Music\\Full\\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="Sys_AssetPathPreview" value="D:\\SongSearch2.0\\Assets\\Music\\Previews\\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="Sys_ZipPath" value="D:\\SongSearch2.0\\Assets\\Zips\\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
        <add key="Sys_UploadPath" value="D:\\SongSearch2.0\\Assets\\Uploads\\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
      <customErrors defaultRedirect="/error/"
            mode="On" xdt:Transform="Replace">
		  <error statusCode="404" redirect="/error/NotFound" />
		  <error statusCode="500" redirect="/error/Problem" />
      </customErrors>
      <identity impersonate="true" password="ASPMVC" userName=".\ASPMVC"
                xdt:Transform="Insert"/>
  </system.web>
</configuration>