<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="SongSearchContext" connectionString="metadata=res://*/_Infrastructure.Storage.EF.SongSearch.csdl|res://*/_Infrastructure.Storage.EF.SongSearch.ssdl|res://*/_Infrastructure.Storage.EF.SongSearch.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=SongSearch2Dev;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"
		   xdt:Transform="SetAttributes" xdt:Locator="Match(name)"    />
	</connectionStrings>
	<appSettings>
		<add key="Sys_Environment" value="Staging" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="Sys_BaseUrl" value="http://localhost" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="Sys_MediaPathFull" value="D:\\Inetpub\\wwwassets\\Music\\Full\\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="Sys_MediaPathPreview" value="D:\\Inetpub\\wwwassets\\Music\\Preview\\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="Sys_ZipPath" value="D:\\Inetpub\\wwwassets\\Zips\\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="Sys_UploadPath" value="D:\\Inetpub\\wwwassets\\Uploads\\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="Sys_UseRemoteMedia" value="True"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="Sys_RemoteMediaUploadNewOnly" value="True"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
		<add key="Sys_RemoteMediaCheckSize" value="False"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	</appSettings>
  <system.web>
	<compilation xdt:Transform="RemoveAttributes(debug)" />	
	  <identity impersonate="true" password="W@rehous3" userName=".\FordMusic" 
				xdt:Transform="Insert"/>
  </system.web>
	<!--<system.webServer>
		<httpErrors defaultPath="/updating.html" defaultResponseMode="File" errorMode="Custom" existingResponse="Auto" xdt:Transform="Insert"  />
	</system.webServer>-->
</configuration>