<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="SongSearchContext" connectionString="metadata=res://*/Infrastructure.Storage.EF.SongSearch.csdl|res://*/Infrastructure.Storage.EF.SongSearch.ssdl|res://*/Infrastructure.Storage.EF.SongSearch.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=SongSearch2;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Sys_BaseUrl" value="http://95.91.51.73" />
    <add key="Sys_AssetPathFullSong" value="D:\\Inetpub\\wwwroot\\Assets\\Music\\Full\\" />
    <add key="Sys_AssetPathPreview" value="D:\\Inetpub\\wwwroot\\Assets\\Music\\Previews\\" />
    <add key="Sys_ZipPath" value="D:\\Inetpub\\wwwroot\\Assets\\Zips\\" />
    <add key="Sys_ZipFormat" value="FordMusicDownloads{0}{1}{2}-{3}.zip" />
    <add key="Sys_ZipUserFormat" value="{0}-{1}.zip" />
    <add key="Sys_UploadPath" value="D:\\Inetpub\\wwwroot\\Assets\\Uploads\\" />
    <add key="Sys_AdminEmailAddress" value="Ford Music Services&lt;claus.herther@gmail.com&gt;" />
    <add key="Sys_LogSearchTerms" value="True" />
    <add key="Sys_LogSearchResults" value="False" />
    <add key="Sys_LogUserActions" value="True" />
    <add key="Sys_LogUserContentActions" value="False" />
    <add key="Msg_PasswordChangeSuccess" value="You have successfully changed your password on fordmusicservices.com." />
    <add key="Msg_PasswordChangeSuccessSubjectLine" value="Password Change Request" />
    <add key="Msg_PasswordResetRequest" value="You have requested to reset your password on fordmusicservices.com." />
    <add key="Msg_PasswordResetRequestSubjectLine" value="Password Reset Request" />
    <add key="Msg_PasswordResetRequestLink" value="Please {0} to reset your password." />
    <add key="Msg_InvitationSubjectLine" value="Ford Music Services Invitation" />
    <add key="Err_LoginFailed" value="The user name or password provided is incorrect." />
    <add key="Err_PasswordChangeFailed" value="The current password is incorrect or the new password is invalid." />
    <add key="Err_PasswordResetFailed" value="The current password could be reset or the new password is invalid." />
    <add key="Err_UserAlreadyRegistered" value="User is already registered with this e-mail address." />
    <add key="Err_UserCreationFailed" value="Could not create new user." />
    <add key="Err_InviteCodeAlreadyUsed" value="Invitation Code has already been used to register." />
    <add key="Err_InviteCodeExpired" value="Invitation Code has expired" />
    <add key="Err_InviteCodeNoMatch" value="Invitation Code does not match Email address." />
    <add key="Err_UserDoesNotExist" value="User does not exist." />
    <add key="Err_ItemDoesNotExist" value="Item does not exist." />
    <add key="Err_TagAlreadyExists" value="Tag with this name already exists." />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogIn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="SongSearch.Web" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>