<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
<!--
In the example below, the "SetAttributes" transform will change the value of 
"connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
finds an atrribute "name" that has a value of "MyDB".
	
<connectionStrings>
	<add name="MyDB" 
	connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
	xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
</connectionStrings>
-->
  <appSettings>
	<add key="Sys_Environment" value="Production" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="Sys_BaseUrl" value="http://www.worldsongnet.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="Sys_MediaPathFull" value="C:\\Inetpub\\wwwassets\\Music\\Full\\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="Sys_MediaPathPreview" value="C:\\Inetpub\\wwwassets\\Music\\Preview\\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="Sys_ZipPath" value="C:\\Inetpub\\wwwassets\\Zips\\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="Sys_UploadPath" value="C:\\Inetpub\\wwwassets\\Uploads\\" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="Sys_UseRemoteMedia" value="True"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="Sys_RemoteMediaUploadNewOnly" value="True"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="Sys_RemoteMediaCheckSize" value="False"  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
</appSettings>
<system.web>
<compilation xdt:Transform="RemoveAttributes(debug)" />
	
  <identity impersonate="true" password="W@rehous3" userName=".\FordMusic"
			xdt:Transform="Insert"/>
</system.web>
<system.webServer>
	<httpErrors defaultPath="/updating.html" defaultResponseMode="File" errorMode="Custom" existingResponse="Auto" xdt:Transform="Insert"  />
</system.webServer>	
<system.net>
<mailSettings>
	<smtp from="admin@worldsongnet.com" xdt:Transform="Replace">
		<network defaultCredentials="false" host="worldsongnet.com" password="W@rehous3" port="2525" userName="admin" xdt:Transform="Replace" />
	</smtp>
</mailSettings>
</system.net>
</configuration>