<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SongSearchContext" connectionString="metadata=res://*/Infrastructure.Storage.EF.SongSearch.csdl|res://*/Infrastructure.Storage.EF.SongSearch.ssdl|res://*/Infrastructure.Storage.EF.SongSearch.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=SongSearch2;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ErrorLog" connectionString="Data Source=(local);Initial Catalog=ErrorLog;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="Sys_Environment" value="Development" />
    <add key="Sys_Company" value="WorldSongNet.com" />
    <add key="Sys_DefaultSiteProfileName" value="WorldSongNet" />
    <add key="Sys_DefaultSiteProfileId" value="1" />
    <add key="Sys_BaseUrl" value="http://localhost:9001" />
    <add key="Sys_MediaPathFull" value="C:\\Web\\WorldSongNet\\Assets\\Music\\Full\\" />
    <add key="Sys_MediaPathPreview" value="C:\\Web\\WorldSongNet\\Assets\\Music\\Preview\\" />
    <add key="Sys_MediaDefaultExtension" value=".mp3" />
    <add key="Sys_ZipPath" value="C:\\Web\\WorldSongNet\\Assets\\Zips\\" />
    <add key="Sys_ZipFormat" value="MySongCart{0}{1}{2}-{3}-{4}.zip" />
    <add key="Sys_ZipUserFormat" value="{0}-{1}-{2}.zip" />
    <add key="Sys_UploadPath" value="C:\\Web\\WorldSongNet\\Assets\\Uploads\\" />
    <add key="Sys_AdminEmailAddress" value="admin@worldsongnet.com" />
    <add key="Sys_ContactEmailAddress" value="worldsongnet@yahoo.com, info@codewerks.de" />
    <add key="Sys_LogSearchTerms" value="True" />
    <add key="Sys_LogSearchResults" value="True" />
    <add key="Sys_LogUserActions" value="True" />
    <add key="Sys_LogUserContentActions" value="True" />
    <add key="Msg_PasswordChangeSuccess" value="You have successfully changed your password on {0}." />
    <add key="Msg_PasswordChangeSuccessSubjectLine" value="Password Change Request" />
    <add key="Msg_PasswordResetRequest" value="You have requested to reset your password on {0}." />
    <add key="Msg_PasswordResetRequestSubjectLine" value="Password Reset Request" />
    <add key="Msg_PasswordResetRequestLink" value="Please {0} to reset your password." />
    <add key="Msg_PasswordResetSuccess" value="You have successfully reset your password on {0}." />
    <add key="Msg_InvitationSubjectLine" value="Invitation" />
    <add key="Err_LoginFailed" value="The user name or password provided is incorrect." />
    <add key="Err_PasswordChangeFailed" value="The current password is incorrect or the new password is invalid." />
    <add key="Err_PasswordResetFailed" value="The current password could be reset or the new password is invalid." />
    <add key="Err_UserAlreadyRegistered" value="User is already registered with this e-mail address." />
    <add key="Err_UserCreationFailed" value="Could not create new user." />
    <add key="Err_InviteCodeAlreadyUsed" value="Invitation Code has already been used to register." />
    <add key="Err_InviteCodeExpired" value="Invitation Code has expired" />
    <add key="Err_InviteCodeNoMatch" value="Not a valid Invitation Code for this e-mail address." />
    <add key="Err_UserDoesNotExist" value="User does not exist." />
    <add key="Err_ItemDoesNotExist" value="Item does not exist." />
    <add key="Err_TagAlreadyExists" value="Tag with this name already exists." />
    <add key="Sys_AWSAccessKey" value="AKIAIOCPBHLK35AXS5GA" />
    <add key="Sys_AWSSecretKey" value="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" />
    <add key="Sys_AWSMediaBucket" value="songsearchassets" />
    <add key="Sys_MediaFolderUrlFormat" value="Music/{0}/" />
    <add key="Sys_MediaUrlFormat" value="Music/{0}/{1}.mp3" />
    <add key="Sys_UseRemoteMedia" value="True" />
    <add key="Sys_RemoteMediaUploadNewOnly" value="True" />
    <add key="Sys_RemoteMediaCheckSize" value="True" />
  </appSettings>
  <elmah>
    <security allowRemoteAccess="1" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ErrorLog" />
    <!--<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />-->
    <errorMail from="admin@worldsongnet.com" to="errorhandling@codewerks.de" subject="WSN Runtime Error: {0} ({1})" async="true" />
  </elmah>
  <location path="elmah.axd">
    <system.web>
      <!--<authentication mode="Forms">
				<forms loginUrl="~/Account/LogIn" timeout="2880" />
			</authentication>-->
      <authorization>
        <allow users="claus@codewerks.de, artfordmusic@yahoo.com" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogIn" timeout="2880" />
    </authentication>
    <customErrors mode="RemoteOnly" defaultRedirect="/error/">
      <error statusCode="404" redirect="/error/NotFound" />
      <error statusCode="500" redirect="/error/Problem" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="SongSearch.Web" />
      </namespaces>
    </pages>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" maxQueryStringLength="8096" />
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <!-- Remove unnecessary Http Modules for faster pipeline -->
      <remove name="WindowsAuthentication" />
      <remove name="PassportAuthentication" />
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" preCondition="integratedMode" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Elmah.ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="Elmah.ErrorMail" type="Elmah.ErrorMailModule" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </modules>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="admin@worldsongnet.com">
        <network host="smtp.gmail.com" password="W@rehous5" port="587" userName="claus.herther@gmail.com" />
      </smtp>
    </mailSettings>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>