<?xml version="1.0"?>
<!-- 
	Note: Add entries to the App.config file for configuration settings
	that apply only to the Test project.
-->
<configuration>
	<appSettings>
		<add key="AWSAccessKey" value="AKIAIOCPBHLK35AXS5GA"/>
		<add key="AWSSecretKey" value="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"/>
		<add key="FullSong" value="D:\\Inetpub\\wwwroot\\Assets\\Music\\Full\\" />
		<add key="Previews" value="D:\\Inetpub\\wwwroot\\Assets\\Music\\Previews\\" />
	</appSettings>

	<connectionStrings>
		<add name="SongSearchContext" connectionString="metadata=res://*/Infrastructure.Storage.EF.SongSearch.csdl|res://*/Infrastructure.Storage.EF.SongSearch.ssdl|res://*/Infrastructure.Storage.EF.SongSearch.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=SongSearch2;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
