/* cw.app.css  Claus Herther	codewerks.de*/
/* reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{ margin: 0; padding: 0; border: 0; outline: 0;	vertical-align: baseline; background: transparent;}
html { overflow-y: scroll; } 
/* Start */
body  
{ 
	font-size: 81.25%; 
	line-height: 1.2; 
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
}	
p
{ line-height: 1.8;
}
a, a:visited { /*text-decoration: none;*/ color: #0044CC; }
a.cw-logo {  font-family: Verdana, Arial, sans-serif; text-decoration: none; color: #000; }
a.cw-small { font-size: 0.7em; }
a.cw-tags-more-link { padding: 0.8em 0.8em 0.8em 0.8em; }
h1 { font-size: 2em; font-variant:small-caps;}
h2 { font-size: 1.375em; }
h3 { font-size: 1.125em; }
h4 { font-size: 1.125em; font-style: italic; }

hr { color: #ccc; background-color: #ccc; } 
pre 
{
	font-family: Lucida Console, "Courier New", "Courier", monospace;
	white-space:pre-wrap;
}

.cw-bullet
{
	padding: 0 0 0 1.6em;
	list-style-type: square;
}
fieldset legend
{
	font-weight: bold;	
}

.cw-input-highlight
{
	background-color: #FFFFCC;
}
.text-left 
{
	text-align: left;
}
.text-center 
{
	text-align: center;
}
.text-right 
{
	text-align: right;
}
.text-top
{
	vertical-align: top;
}
.text-medium
{
	font-size: 1em;
}

.text-small
{
	font-size: 0.8em;
}
.text-small-fixed
{
	font-size: 10px;
}

.tooltip {
	background-color:#000;
	/*border:1px solid #fff;*/
	padding:5px 10px;
	margin-left: 20px;
	/*width:200px;*/
	display:none;
	color:#fff;
	text-align:left;
	font-size:10px;

	/* outline radius for mozilla/firefox only 
	box-shadow:0 0 10px #999;
	-moz-box-shadow:0 0 10px #999;
	-webkit-box-shadow:0 0 10px #999;*/
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}
.cw-page-number 
{
	
	margin: 0px;
	padding: 2px;
}
.cw-hidden
{
	display: none;
}
.cw-optional
{
	display: none;
}
.cw-selected
{
	background-color: #FFFFCC;
}

.cw-unselected
{
	background-color: #FFFFFF;
}

.cw-highlight
{
	border: thin solid #FFCC00;
	background-color: #FFFF00;
	padding: 0.1em;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.cw-label-red 
{
	color: Red;
	font-weight: bold;
}
/* boxes */
.cw-outl
{
	border: 1px solid #A6C9E2;
	padding:0.4em;
	
}
.cw-outl-orange
{
	border: 1px solid #FF8000;
	padding: 0.4em;
}
.cw-fill
{
	background-color: #E2EDF5;
}
.cw-fill-orange
{
	background-color: #FFECA8;
}
.cw-buffered-left
{
	margin-left: 1em;
}
.cw-padded
{
	padding: 0.8em;
	
}

.cw-spaced
{
	margin: 0.8em 0 0.3em 0;
	padding: 1em;
}
.cw-rounded-corners
{
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	margin-bottom: 10px;
}
.cw-rounded-corners-top
{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}
.cw-rounded-corners-bottom
{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-border-bottomleft: 5px;
	-moz-border-radius-border-bottomright: 5px;
	-webkit-border-border-bottom-left-radius: 5px;
	-webkit-border-border-bottom-right-radius: 5px;
}
.cw-small-cap
{
	font-variant: small-caps;
}
.cw-media-controls
{
	padding: 0.5em;
}
.cw-hidden-dialog 
{
	display:none;
}
#cw-media-player
{
	border: 1px solid #ccc;
	background-color: #fff/*#eee;*/
}
/* menues */
ul.cw-menu
{ 
	list-style-type: none;     
}
ul.cw-menu li   
{
	display: inline;
	float: left;
}
ul.cw-menu li a 
{ 
	display: block; 
	text-decoration: none; 
}

ul.cw-menu-main
{
	margin-top: 0.5em;
	height: 30px;
	width: 100%;
	
	background: #5C9CCC url(../images/bg-menu-main.png) repeat-x scroll 50% 50%;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.2em;
	
}
ul.cw-menu-main li a  
{
	height: 30px; 
	line-height: 2; 
	padding: 0 1.8em; 
	color: #fff; 
}
ul.cw-menu-main li.current a 
{
	background: #B5D2E8; 
	color: #2C648D; 
}

ul.cw-menu-main li a:hover, a:active 
{ 
	background: #B5D2E8; color: #2C648D; 
 }

ul.cw-menu-sub
{   height: 28px;
	width: 100%;	
	background: #B5D2E8;
	border-top: solid 0.8px #efefef;
	border-bottom: solid 0.8px #c0c0c0;
	padding-top: 2px;
	/*	font-size: 0.8em;*/
	font-weight: normal;
	line-height: 1;
}

ul.cw-menu-sub li a { color: #2C648D; padding: 5px 21px; }
ul.cw-menu-sub li.current { font-weight: bold; }


ul.cw-list-searchoptions
{ 	
	list-style-type: none;     
}
ul.cw-list-searchoptions label
{ 
	font-weight: normal !important;
	font-variant: small-caps;
}
ul.cw-list-searchoptions label, input
{ 
	font-size: 0.9em;
}
ul.cw-list-searchoptions li
{ 
	margin-top: 3px;
}

/* Layout Grid */


#cw-content-detail
{
   /* width: 640px;*/   
   font-size: 11px !important;
}

#cw-content-detail-menu
{
	padding: 0 0 0 3px;
}

.cw-carts
{
	margin: 0.8em;
	padding: 0.8em;
}

.cw-pager
{
	margin: 0.8em 0 0.8em 0;
	
}
.cw-usage-box 
{
	width: 180px; 
	height:16px; 
	border: 2px solid #ddd;
	margin:3px 0;
	padding: 0;
	vertical-align: middle;
	
}
.cw-usage-none
{
	/*	background: url(/public/images/usage_bars.gif) repeat-x;*/
	background-color: #ddd;
}
.cw-bar-round 
{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
}
.cw-usage-bar
{
/*	background: url(/public/images/usage_bars.gif) repeat-x;*/
	text-indent: -9999px;
	display: block;
	vertical-align: middle;
}
.cw-usage-good
{
	/*	background: url(/public/images/usage_bars.gif) repeat-x;*/
	background-color: #33CC33;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33CC33', endColorstr='#006F24'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#33CC33), to(#006F24)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #33CC33,  #006F24); /* for firefox 3.6+ */
}
.cw-usage-danger
{
	/*	background: url(/public/images/usage_bars.gif) repeat-x;*/
	background-color: #FF0000;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0000', endColorstr='#B40000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FF0000), to(#B40000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FF0000,  #B40000); /* for firefox 3.6+ */
}
.cw-usage-numbers
{
	font-family: "Helvetica Neue", "Helvetica", "Arial", non-serif;
	font-weight: bold;
	font-size: 20px;
}
.cw-usage-item
{
	font-family: "Helvetica Neue", "Helvetica", "Arial", non-serif;
	font-weight: normal;
	font-size: 12px;
	color: #999;
}

/* Media Player */
#cw-media-statusbar
{
	padding: 0;
	margin: 0;
	width:100%; 
	cursor:-moz-grabbing;
	cursor:grabbing;
	background-color: #eee; 
}

#cw-media-loaded
{
	height:10px; 
	width:0%; 
	background-color: #999; 
	position: relative;
	border-radius:3px;
	 -moz-border-radius:3px;
	 -webkit-border-radius:3px;
}
#cw-media-position
{
	height:8px; 
	width:0%; 
	background-color: #336699; 
	vertical-align: middle; 
	position: relative;
	border-radius:3px;
	 -moz-border-radius:3px;
	 -webkit-border-radius:3px;
}