/* cw.app.css  Claus Herther	codewerks.de*/
/* reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{ margin: 0; padding: 0; border: 0; outline: 0;	vertical-align: baseline; background: transparent;}
html { overflow-y: scroll; } 
/* Start */
body  
{ 
	font-size: 81.25%; 
	line-height: 1.2; 
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
}	
p
{ line-height: 1.8;
}
a, a:visited { /*text-decoration: none;*/ color: #0044CC; }
a.cw-logo {  font-family: Verdana, Arial, sans-serif; text-decoration: none; color: #000; }
a.cw-small { font-size: 0.7em; }
a.cw-tags-more-link { padding: 0.8em 0.8em 0.8em 0.8em; }
h1 { font-size: 2em; font-variant:small-caps;}
h2 { font-size: 1.375em; }
h3 { font-size: 1.125em; }
hr { color: #ccc; background-color: #ccc; } 
pre 
{
	white-space:pre-wrap;
}
ul.cw-vertical 
{
	padding: 0 0 0 1.6em;
}
fieldset legend
{
	font-weight: bold;	
}

input.cw-input-highlight
{
	background-color: #FFFFCC;
}

.cw-optional
{
	display: none;
}
.cw-selected
{
	background-color: #FFFFCC;
}

.cw-unselected
{
	background-color: #FFFFFF;
}

.cw-highlight 
{
	background-color:#FFFFCC;
	padding:0.1em;
}
.cw-label-red 
{
	color: Red;
	font-weight: bold;
}
/* boxes */
.cw-outl
{
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	
	border: 1px solid #A6C9E2;
	padding:0.4em 0.2em 0.2em 0.4em;
	
}
.cw-padded
{
	padding: 0.8em;
	
}

/* menues */
ul.cw-menu
{ 
	list-style-type: none;     
}
ul.cw-menu li   
{
	display: inline;
	float: left;
}
ul.cw-menu li a 
{ 
	display: block; 
	text-decoration: none; 
}

ul.cw-menu-main
{
	height: 30px;
	width: 100%;
	
	background: #5C9CCC url(../images/bg-menu-main.png) repeat-x scroll 50% 50%;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.2em;
	
}
ul.cw-menu-main li a  
{
	height: 30px; 
	line-height: 2; 
	padding: 0 1.8em; 
	color: #fff; 
}
ul.cw-menu-main li.current a 
{
	background: #B5D2E8; 
	color: #2C648D; 
}

ul.cw-menu-main li a:hover, a:active 
{ 
	background: #B5D2E8; color: #2C648D; 
 }

ul.cw-menu-sub
{   height: 28px;
	width: 100%;	
	background: #B5D2E8;
	border-top: solid 0.8px #efefef;
	border-bottom: solid 0.8px #c0c0c0;
	padding-top: 2px;
	/*	font-size: 0.8em;*/
	font-weight: normal;
	line-height: 1;
}

ul.cw-menu-sub li a { color: #2C648D; padding: 5px 21px; }
ul.cw-menu-sub li.current { font-weight: bold; }


ul.cw-list-searchoptions
{ 
	list-style-type: none;     
}
ul.cw-list-searchoptions label
{ 
}
ul.cw-list-searchoptions label, input
{ 
	font-size: 0.9em;
}
ul.cw-list-searchoptions li
{ 
	margin-top: 3px;
}

/* Layout Grid */


#cw-content-detail
{
   /* width: 640px;*/
}

#cw-content-detail-menu
{
	padding: 0 0 0 3px;
}

.cw-carts
{
	margin: 0.8em;
	padding: 0.8em;
}

.cw-pager
{
	margin: 0.8em 0 0.8em 0;
	
}

/* Media Player */
#cw-media-statusbar
{
	padding: 0;
	margin: 0;
	width:100%; 
	cursor:-moz-grabbing;
	cursor:grabbing;
	background-color: #eee; 
}

#cw-media-loaded
{
	height:10px; 
	width:0%; 
	background-color: #999; 
	position: relative;
	border-radius:3px;
	 -moz-border-radius:3px;
	 -webkit-border-radius:3px;
}
#cw-media-position
{
	height:8px; 
	width:0%; 
	background-color: #336699; 
	vertical-align: middle; 
	position: relative;
	border-radius:3px;
	 -moz-border-radius:3px;
	 -webkit-border-radius:3px;
}