a.cw-tag-box
{
/*	border: thin solid #CCCCCC;
	display: inline-block;
	cursor: pointer;*/
	padding: 0.2em 0.8em;
	margin: 0.25em 0.25em;
}

.cw-button {
	display: inline-block;
	/*margin: 0;
	padding: 0;
	*/
	padding: 0.2em 0.8em;
	margin: 0.25em 0.25em;
	
	font: bold 13px "Helvetica Neue", Helvetica, Arial, clean, sans-serif !important;
	text-decoration: none !important;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.20);
	background: none;
	border: none;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	
	/* Fix extra width padding in IE */
	_width: 0;
	overflow: visible;
}

.cw-button span {
	display: block;						/* Prevents :active from working in IE--oh well! */
	height: 24px;
	padding-right: 12px;
	background-repeat: no-repeat;
	background-position: right top;
}

.cw-button span span {
	padding-right: 0;
	padding-left: 12px;
	line-height: 24px;
	background-position: left top;
}

.cw-button span span span {
	padding-left: 21px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left center;
	/* IE6 still requires a PNG transparency fix */ 
	/* _background-image: none;		Or just hide icons from the undeserving IE6 */
	/* _padding-left: 0;					Or just hide icons from the undeserving IE6 */
}

.cw-button span span span.after {
	padding-left: 0px;
	padding-right: 21px;
	background-position: right center;
	/* IE6 still requires a PNG transparency fix */ 
	/* _padding-right: 0;					Or just hide icons from the undeserving IE6 */
}

.cw-button[disabled],
.cw-button[disabled]:hover,
.cw-button[disabled]:focus,
.cw-button[disabled]:active,
.cw-button.disabled,
.cw-button.disabled:hover,
.cw-button.disabled:focus,
.cw-button.disabled:active {
	color: #333 !important;
	cursor: inherit;
	text-shadow: none; 
	opacity: 0.33;
}

.cw-button:hover span,
.cw-button:focus span {
	background-position: 100% -24px;
}

.cw-button:hover span span,
.cw-button:focus span span {
	background-position: 0% -24px;
}

.cw-button:active span {
	background-position: 100% -48px;
}

.cw-button:active span span {
	background-position: 0% -48px;
}

.cw-button[disabled] span,
.cw-button.disabled span {
	background-position: 100% -72px;
}

.cw-button[disabled] span span,
.cw-button.disabled span span {
	background-position: 0% -72px;
}

.cw-button:hover span span span,
.cw-button:focus span span span,
.cw-button:active span span span,
.cw-button[disabled] span span span,
.cw-button.disabled span span span {
	background-position: left center;
}

.cw-button:hover span span span.after,
.cw-button:focus span span span.after,
.cw-button:active span span span.after,
.cw-button[disabled] span span span.after,
.cw-button.disabled span span span.after {
	background-position: right center;
}

.cw-button img {
	margin-right: 5px;
	vertical-align: text-top;
	/* IE6 Hack */
	_margin-top: 4px;
	_vertical-align: text-bottom;
	/* IE6 still requires a PNG transparency fix */ 
	/* _display: none;		Or just hide icons from the undeserving IE6 */
}

.cw-button img.after {
	margin-right: 0;
	margin-left: 5px;
	/* IE6 still requires a PNG transparency fix */ 
	/* _margin-left: 0;		Or just hide icons from the undeserving IE6 */
}

.cw-button.cw-medium	{ font-size: 15px !important; }
.cw-button.cw-large	{ font-size: 18px !important; }


/*
 * Button Skins
 * 
 * .PNG background images with alpha transparency are also supplied if you'd rather use them instead of the 
 * default .GIF images. (Just beware of IE6's lack of support.) 
 * 
 * Additional skins can be added below. The images/skins/ButtonTemplate.psd can be used to create new skins.
 * Prefix the skin name with "cw-" to avoid any potential conflicts with other class names. 
 */

/* Silver Button Skin (the default skin) */

.cw-button,
.cw-button.cw-silver {
	color: #666 !important;
}
	
.cw-button:hover,
.cw-button:focus,
.cw-button.cw-silver:hover,
.cw-button.cw-silver:focus {
	color: #333 !important;
}
	
.cw-button span,
.cw-button.cw-silver span {
	background-image: url(../images/skins/silver/button_right.gif);
}

.cw-button span span,
.cw-button.cw-silver span span {
	background-image: url(../images/skins/silver/button_left.gif);
}

/* Orange Button Skin */

.cw-button.cw-orange,
.cw-button.cw-orange:hover,
.cw-button.cw-orange:focus {
	color: white !important;
}
	
.cw-button.cw-orange[disabled],
.cw-button.cw-orange[disabled]:hover,
.cw-button.cw-orange[disabled]:active,
.cw-button.cw-orange[disabled]:focus,
.cw-button.cw-orange.disabled,
.cw-button.cw-orange.disabled:hover,
.cw-button.cw-orange.disabled:active,
.cw-button.cw-orange.disabled:focus {
	color: #333 !important;
}
	
.cw-button.cw-orange span {
	background-image: url(../images/skins/orange/button_right.gif);
}

.cw-button.cw-orange span span {
	background-image: url(../images/skins/orange/button_left.gif);
}

/* Yellow Button Skin */

.cw-button.cw-yellow,
.cw-button.cw-yellow:hover,
.cw-button.cw-yellow:focus {
	color: #994800 !important;
}
	
.cw-button.cw-yellow span {
	background-image: url(../images/skins/yellow/button_right.gif);
}

.cw-button.cw-yellow span span {
	background-image: url(../images/skins/yellow/button_left.gif);
}


/* 
 * Simple Skin Buttons
 */

.cw-button.cw-simple { 
	position: relative; 
	padding: 5px 10px 5px;
	font: inherit;
	font-size: 13px !important;
	font-style: normal !important; 
	font-weight: bold !important; 
	color: #fff !important;
	line-height: 1; 
	background-image: url(../images/skins/simple/awesome-overlay-sprite.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	
	/* Special effects */
	/*text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25); */
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5); 
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	
	/* IE only stuff */
	border-bottom: 1px solid transparent\9;
	_background-image: none;
	
	/* Cross browser inline block hack - http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*display: inline !important;
	position: relative;
	
	/* Force hasLayout in IE */
	zoom: 1;
	
	/* Disable text selection (Firefox only)*/
	-moz-user-select: none;
}

.cw-button.cw-simple::selection {
	background: transparent;
}

.cw-button.cw-simple:hover,
.cw-button.cw-simple:focus {
	background-position: 0 -50px; 
	color: #fff !important;
}

.cw-button.cw-simple:active { 
	background-position: 0 -100px; 
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7); 
	/* Unfortunately, Safari doesn't support inset yet */
	-webkit-box-shadow: none;
	
	/* IE only stuff */
	border-bottom: 0\9;
	border-top: 1px solid #666\9;
}

.cw-button.cw-simple[disabled], 
.cw-button.cw-simple.disabled { 
	background-position: 0 -150px; 
	color: #333 !important;
	text-shadow: none; 
}

.cw-button.cw-simple[disabled]:hover,
.cw-button.cw-simple[disabled]:focus,
.cw-button.cw-simple[disabled]:active,
.cw-button.cw-simple.disabled:hover,
.cw-button.cw-simple.disabled:focus,
.cw-button.cw-simple.disabled:active {
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5); 
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
} 

.cw-button.cw-simple span {
	height: auto;
	padding-left: 24px;
	padding-right: 0;
	background-position: left center;
	background-repeat: no-repeat;
	/* IE6 still requires a PNG transparency fix */ 
	/* _padding-left: 0;		Or just hide icons from the undeserving IE6 */
}

.cw-button.cw-simple span.after {
	padding-left: 0;
	padding-right: 24px;
	background-position: right center;
	/* IE6 still requires a PNG transparency fix */ 
	/* _padding-right: 0;		Or just hide icons from the undeserving IE6 */
}

/* Simple button colors */
.cw-button.cw-simple				{ background-color: #CCCCCC; color: #000 !important; }	/*{ background-color: #333; }		 Default */
.cw-button.cw-simple.cw-black		{ background-color: #333; color: #fff !important; }
.cw-button.cw-simple.cw-red		{ background-color: #a90118; color: #fff !important; }
.cw-button.cw-simple.cw-orange	{ background-color: #ff8a00; }
.cw-button.cw-simple.cw-yellow	{ background-color: #ffb515; }
.cw-button.cw-simple.cw-green		{ background-color: #59a901; color: #fff !important; }
.cw-button.cw-simple.cw-blue		{ background-color: #015ea9; color: #fff !important; }
.cw-button.cw-simple.cw-teal		{ background-color: #2daebf; color: #fff !important; }
.cw-button.cw-simple.cw-magenta	{ background-color: #a9014b; color: #fff !important; }
.cw-button.cw-simple.cw-purple	{ background-color: #9d01a9; color: #fff !important; }
.cw-button.cw-simple.cw-gray { background-color: #CCCCCC; color: #000 !important; }

/* Simple button sizes */
.cw-button.cw-simple.cw-small          { padding: 4px 7px 5px; font-size: 10px !important; text-shadow: none !important;}
.cw-button.cw-simple.cw-small:active   { padding: 5px 7px 4px; }
.cw-button.cw-simple                    { /* default */ }
.cw-button.cw-simple:active             { padding: 6px 10px 4px; }
.cw-button.cw-simple.cw-medium         { /* default */ }
.cw-button.cw-simple.cw-medium:active  { padding: 6px 10px 4px; }
.cw-button.cw-simple.cw-large          { padding: 8px 14px 8px; font-size: 14px !important; }
.cw-button.cw-simple.cw-large:active   { padding: 9px 14px 7px; }
.cw-button.cw-simple.cw-xl             { padding: 8px 14px 8px; font-size: 16px !important; }
.cw-button.cw-simple.cw-xl:active      { padding: 9px 14px 7px; }
.cw-button.cw-simple.cw-xxl            { padding: 8px 14px 8px; font-size: 20px !important; }
.cw-button.cw-simple.cw-xxl:active     { padding: 9px 14px 7px; }
.cw-button.cw-simple.cw-xxxl           { padding: 8px 14px 8px; font-size: 26px !important; }
.cw-button.cw-simple.cw-xxxl:active    { padding: 9px 14px 7px; }

.cw-button.cw-simple.cw-small[disabled]:active,
.cw-button.cw-simple.cw-small.disabled:active   	{ padding: 4px 7px 5px; }
.cw-button.cw-simple[disabled]:active,
.cw-button.cw-simple.disabled:active 	            { padding: 5px 10px 5px; }
.cw-button.cw-simple.cw-medium[disabled]:active,
.cw-button.cw-simple.cw-medium.disabled:active 		{ padding: 6px 10px 4px; }
.cw-button.cw-simple.cw-large[disabled]:active,
.cw-button.cw-simple.cw-large.disabled:active   	{ padding: 8px 14px 8px; }
.cw-button.cw-simple.cw-xl[disabled]:active,
.cw-button.cw-simple.cw-xl.disabled:active	      { padding: 8px 14px 8px; }
.cw-button.cw-simple.cw-xxl[disabled]:active,
.cw-button.cw-simple.cw-xxl.disabled:active 		   { padding: 8px 14px 8px; }
.cw-button.cw-simple.cw-xxxl[disabled]:active,
.cw-button.cw-simple.cw-xxxl.disabled:active    	{ padding: 8px 14px 8px; }


/*
 * Icon Definitions
 */

/* Silk Icons - http://www.famfamfam.com/lab/icons/silk/ */
/* (Obviously not all Silk icons are defined here. Feel free to define any other icons that you may need.) */

.cw-button span.b-ok			{ background-image: url(../images/icons/silk/tick.png) !important; }
.cw-button span.b-cancel		{ background-image: url(../images/icons/silk/cross.png) !important; }
.cw-button span.b-add			{ background-image: url(../images/icons/silk/add.png) !important; }
.cw-button span.b-delete		{ background-image: url(../images/icons/silk/delete.png) !important; }
.cw-button span.b-download		{ background-image: url(../images/icons/silk/arrow_down.png) !important; }
.cw-button span.b-download2		{ background-image: url(../images/icons/silk/package_down.png) !important; }
.cw-button span.b-upload		{ background-image: url(../images/icons/silk/arrow_up.png) !important; }
.cw-button span.b-search		{ background-image: url(../images/icons/silk/magnifier.png) !important; }
.cw-button span.b-find			{ background-image: url(../images/icons/silk/find.png) !important; }
.cw-button span.b-first			{ background-image: url(../images/icons/silk/resultset_first.png) !important; }
.cw-button span.b-prev			{ background-image: url(../images/icons/silk/resultset_previous.png) !important; }
.cw-button span.b-next			{ background-image: url(../images/icons/silk/resultset_next.png) !important; }
.cw-button span.b-last			{ background-image: url(../images/icons/silk/resultset_last.png) !important; }
.cw-button span.b-play			{ background-image: url(../images/icons/silk/play_blue.png) !important; }
.cw-button span.b-pause			{ background-image: url(../images/icons/silk/pause_blue.png) !important; }
.cw-button span.b-rewind		{ background-image: url(../images/icons/silk/rewind_blue.png) !important; }
.cw-button span.b-forward		{ background-image: url(../images/icons/silk/forward_blue.png) !important; }
.cw-button span.b-stop			{ background-image: url(../images/icons/silk/stop_blue.png) !important; }
.cw-button span.b-reload		{ background-image: url(../images/icons/silk/reload.png) !important; }
.cw-button span.b-sync			{ background-image: url(../images/icons/silk/arrow_refresh.png) !important; }
.cw-button span.b-save			{ background-image: url(../images/icons/silk/disk.png) !important; }
.cw-button span.b-email			{ background-image: url(../images/icons/silk/email.png) !important; }
.cw-button span.b-print			{ background-image: url(../images/icons/silk/printer.png) !important; }
.cw-button span.b-heart			{ background-image: url(../images/icons/silk/heart.png) !important; }
.cw-button span.b-like			{ background-image: url(../images/icons/silk/thumb_up.png) !important; }
.cw-button span.b-dislike		{ background-image: url(../images/icons/silk/thumb_down.png) !important; }
.cw-button span.b-accept		{ background-image: url(../images/icons/silk/accept.png) !important; }
.cw-button span.b-decline		{ background-image: url(../images/icons/silk/decline.png) !important; }
.cw-button span.b-help			{ background-image: url(../images/icons/silk/help.png) !important; }
.cw-button span.b-home			{ background-image: url(../images/icons/silk/house.png) !important; }
.cw-button span.b-info			{ background-image: url(../images/icons/silk/information.png) !important; }
.cw-button span.b-cut			{ background-image: url(../images/icons/silk/cut.png) !important; }
.cw-button span.b-copy			{ background-image: url(../images/icons/silk/page_white_copy.png) !important; }
.cw-button span.b-paste			{ background-image: url(../images/icons/silk/paste_plain.png) !important; }
.cw-button span.b-erase			{ background-image: url(../images/icons/silk/erase.png) !important; }
.cw-button span.b-undo			{ background-image: url(../images/icons/silk/arrow_undo.png) !important; }
.cw-button span.b-redo			{ background-image: url(../images/icons/silk/arrow_redo.png) !important; }
.cw-button span.b-edit			{ background-image: url(../images/icons/silk/pencil.png) !important; }
.cw-button span.b-calendar		{ background-image: url(../images/icons/silk/date.png) !important; }
.cw-button span.b-user			{ background-image: url(../images/icons/silk/user.png) !important; }
.cw-button span.b-settings		{ background-image: url(../images/icons/silk/cog.png) !important; }
.cw-button span.b-cart			{ background-image: url(../images/icons/silk/cart.png) !important; }
.cw-button span.b-wand			{ background-image: url(../images/icons/silk/wand.png) !important; }
.cw-button span.b-wrench		{ background-image: url(../images/icons/silk/wrench.png) !important; }
