input 
{
}
.text-box 
{
}
.single-line
{
    width: 60%;   
}
.multi-line
{
    font-family: 'Courier New' , Courier !important;
    white-space: pre-wrap;
    width: 90%;
    height: 20em;
}

.cw-tagbox-label-edit
{
    white-space: pre-wrap;
}
.cw-tagbox-checkbox
{
    /*text-indent: -9999999px;
    position: absolute;*/
    display: none;
}