input, select
{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
	/*vertical-align: top;*/
}

label
{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Helvetica, Arial, sans-serif;
	font-weight: 500; 
	/*vertical-align: top;  */
}
.text-box 
{
}
.single-line
{
	width: 60%;   
}
.multi-line
{
	font-family: 'Courier New' , Courier !important;
	white-space: pre-wrap;
	width: 90%;
	height: 20em;
}

.cw-tagbox-label-edit
{
	white-space: pre-wrap;
}
.cw-tagbox-checkbox
{
	left: -9999999px;
	position: absolute;
   
}
.cw-field-xlarge
{
	width: 300px;
}
.cw-field-large
{
	width: 220px;
}

.cw-field-medium
{
	width: 120px;
}

.cw-field-small
{
	width: 60px;
}
.cw-field-xsmall
{
	width: 30px;
}