
.cw-row-selected
{
    background: #cccccc url(/public/images/jquery-ui/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222;
    /*background-color: #FFFFCC;*/  
    font-weight: bold;
}
/* Search Results */
.cw-tbl-search-results 
{
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 3px;
}
.cw-tbl-search-results tr
{
    border: 1px solid #aaaaaa;
}

.cw-tbl-search-results th, td
{
    padding: 3px;
}
.cw-tbl-search-results th
{
    text-align: left;
    white-space: nowrap;    
}

/* Cart Contents */
.cw-tbl-cart-contents 
{
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 3px;
    font-size: 80%;
}
.cw-tbl-cart-contents tr
{
    border: 1px solid #aaaaaa;
}

.cw-tbl-cart-contents th, td
{
    padding: 3px;
}
.cw-tbl-cart-contents th
{
    text-align: left;
    white-space: nowrap;    
}


/* Cart Grid  */
.cw-tbl-carts
{
	/*font-family: Tahoma, Verdana, helvetica,verdana,sans-serif;*/
	border: 1px solid #c0c0c0;
	border-collapse: collapse;
	vertical-align: middle;
	margin: 10px 0;
}

.cw-tbl-carts th { background-color: #cecece; font-weight: normal; text-align: left; }
.cw-tbl-carts .cw-tbl-carts-main { border-top: 1px solid #c0c0c0; }
.cw-tbl-carts td, th { padding: 0.25em 0.8em;  vertical-align: middle; text-align: left; }
.cw-tbl-carts-contents
{
	width: 15px;
	height: 20px;
	cursor: pointer;
}
.cw-tbl-carts-contents-show
{
	background:transparent url(/public/images/icons/ico_plus.png) no-repeat;
}

.cw-tbl-carts-contents-hide
{
	background:transparent url(/public/images/icons/ico_minus.png) no-repeat;
}
.cw-tbl-carts-details
{
    display: none;
}

#cw-tbl-media-player
{
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff/*#eee;*/
}
#cw-tbl-media-player tr
{
    border: 1px solid #ccc;
}
#cw-tbl-media-player td
{
    border: 0px none;
}