
.cw-tbl-search-results 
{
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 3px;
}
.cw-tbl-search-results tr
{
    border: 1px solid #aaaaaa;
}
.cw-row-selected
{
    background: #cccccc url(../images/jquery-ui/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222;
    /*background-color: #FFFFCC;
    font-weight: bold;*/
}
.cw-tbl-search-results th, td
{
    padding: 3px;
}
.cw-tbl-search-results th
{
    text-align: left;
    white-space: nowrap;
    
}