<root>
	<FileGroup Name="cw.plugins.css">
		<File Path="fluid.gs.css" />
		<File Path="jquery-ui.css" />
		<File Path="jquery.gritter.css" />
		<File Path="plupload.queue.css" />
		<File Path="tipTip.css" />
		<File Path="prettyLoader.css" />
	</FileGroup>
	<FileGroup Name="cw.app.css">
		<File Path="cw.app.min.css" Minify="false" />
		<File Path="cw.buttons.min.css" Minify="false" />
		<File Path="cw.feedback.min.css" Minify="false" />
		<File Path="cw.forms.min.css" Minify="false" />
		<File Path="cw.tables.min.css" Minify="false" />
		<File Path="cw.twitlogin.min.css" Minify="false" />
	</FileGroup>
</root>